body {
	background-color: #4d4d4d;
	color: #FFFFFF;
	font-family: 'Rubik', sans-serif;
}

section {
	hight:200px;
	width:600px;
	margin: 50px auto;
	background-color: #3a3a3a;
	text-align: center;
	border: 1px solid black;
}

h1 {
	margin-top: 50px;
	text-align: center;
}

p {
	margin: 0 auto;
	text-align: center;
	
}


p:first-child {
	background-color:black;
	font-size: 2.5em;
	padding:10px;

}

p:nth-child(2n) {
	padding:20px;
	background-color: #5e5e5e;
	font-size: 1em;
}

p:nth-child(3n) {
	padding: 5px;
	font-size: 2em;
}

