body {
	background-color: #4d4d4d;
	color: #FFFFFF;
	margin: 0;
	font-family: 'Rubik', sans-serif;
}

section {
	background-color: #3a3a3a;
	margin-top: 50px;
	margin-left: 20%;
	margin-right: 20%;
	text-align: center;
	border: 1px solid black;
}

h1 {
	margin-left: 10%;
	margin-top: 50px;
}

p {
	padding-top:20px;
	padding-bottom:20px;
}

p:first-child {
	background-color:black;
}

p:nth-child(2) {
	background-color: #5e5e5e;
}

